body{font-family: 'helvetica', 'arial', sans-serif}

.interface{
	text-align: center;
	padding: 20px;
}

a.button{
	display: inline-block;
	background-color: lightgrey;
	color: #000011;
	padding: 10px 40px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 3px;
	transition: color 300ms;
}

a:hover{
	color: darkgreen;
}

.left{
	background-color: #ffffff;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left:0;
}

.right{
	background-color: #a2add0;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right:0;
}

.ground{
	background: url('../img/ground.png') no-repeat center center;
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	height: 20px;
}

.excited{
	position: absolute;
	bottom: 220px;
	left: 50%;
	background: url('../img/oooh.png') no-repeat 0 0;
	width: 100px;
	height: 79px;
	margin-left: -180px;
	display: none;
}

.excited.show{
	display: block;
}


.thereYet{
	position: absolute;
	bottom: 220px;
	left: 70%;
	background: url('../img/thereYet.png') no-repeat 0 0;
	width: 100px;
	height: 60px;
	display: none;
}

.thereYet.show{
	display: block;
}


.rocket{
	position: absolute;
	left: 50%;
	bottom: -28px;
	width: 117px;
	height: 248px;
	margin-left: -58.5px;
	background: url('../img/rocketState1.png') no-repeat 0 0;
	transition: bottom 10000ms;
}

/*rocket background image*/

body.body-state2 .rocket{
	background-image: url('../img/rocketState2.png')
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url('../img/rocketState3.png')
}

body.body-state5 .rocket{
	background-image: url('../img/rocketState5.png')
}

body.body-state1 .rocket{
	transition: none;
}


body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

body.body-state1 .state1{
	display: block;
}

body.body-state2 .state2{
	display: block;
}

body.body-state3 .state3{
	display: block;
}

body.body-state4 .state4{
	display: block;
}

body.body-state5 .state5{
	display: block;
}


.a{
	
}
